.reviewsSection {
	padding-top: 44px;
	padding-bottom: 44px;
}
.reviewsContainer {
	width: 100%;
	max-width: 1702px;
	padding-left: 0;
	padding-right: 0;
}
.reviewsWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
}
.title {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 24px;
	line-height: 113%;
	text-transform: uppercase;
	text-align: center;
	color: var(--didi-brown-dark-brown);
}
@media screen and (min-width: 768px) {
	.reviewsSection {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.reviewsWrapper {
		gap: 40px;
	}
	.title {
		font-size: 40px;
	}
}
@media screen and (min-width: 1280px) {
}
