.heroSection {
	padding-top: 24px;
	padding-bottom: 44px;
}
.heroContainer {
	padding-left: 16px;
	padding-right: 16px;
}
.description {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.title {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: 32px;
	/* font-size: 68px; */
	line-height: 112%;
	text-transform: uppercase;
	color: var(--didi-brown-dark-brown);
	text-align: center;
}
.subTitle {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	color: var(--didi-black);
	margin-top: 16px;
	text-align: center;
}
.subTitle span {
	font-weight: 500;
}
.linkBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	padding: 24px 8px;
	width: 100%;
	max-width: 430px;
	height: 64px;
	background: var(--didi-green-primary);

	font-family: var(--font-family);
	font-weight: 600;
	font-size: 18px;
	color: var(--didi-white);
	margin-top: 24px;
	transition: all 0.5s ease;
}
.link {
	display: flex;
	align-items: center;
	gap: 12px;
	border-bottom: 1px solid var(--didi-brown-dark-brown);
	padding: 4px;
	/* width: 184px; */
	height: 35px;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	color: var(--didi-brown-dark-brown);
	margin-top: 12px;
	transition: all 0.5s ease;
}
.mobImageWrapper {
	margin-top: 16px;
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 660px;
	aspect-ratio: 343 / 400;
	border-radius: 16px;
	overflow: hidden;
}
.image {
	object-fit: cover;
}
.imageWrapper {
	display: none;
}
.linkIcon {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Icon {
	width: 18px;
	height: 16px;
	stroke: var(--didi-brown-dark-brown);
	fill: none;
	transition: all 0.5s ease;
}
@media screen and (min-width: 768px) {
	.heroSection {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.heroContainer {
		padding-left: 48px;
		padding-right: 48px;
	}
}
@media screen and (min-width: 1024px) {
	.heroWrapper {
		display: flex;
		align-items: center;
		gap: 48px;
		margin: 0 auto;
	}
	.description {
		align-items: flex-start;
	}
	.title {
		font-size: clamp(32px, calc((48 / 1024) * 100vw), 48px);
		text-align: left;
	}
	.subTitle,
	.linkBtn,
	.link {
		font-size: clamp(18px, calc((20 / 1024) * 100vw), 22px);
	}
	.subTitle {
		text-align: left;
		margin-top: 24px;
	}
	.linkBtn {
		margin-top: 64px;
		height: 75px;
	}
	.link {
		margin-top: 32px;
	}
	.price {
		margin-top: 16px;
	}
	.mobImageWrapper {
		display: none;
	}
	.imageWrapper {
		display: block;
		position: relative;
		z-index: 1;
		width: 100%;
		max-width: 660px;
		aspect-ratio: 660 / 770;
		border-radius: 16px;
		overflow: hidden;
	}
	.image {
		object-fit: cover;
	}

	.linkBtn:hover {
		background: var(--didi-green-hover);
	}
	.linkBtn:active {
		border: 2px solid var(--didi-green-primary);
		background: transparent;
		color: var(--didi-green-primary);
	}

	.link:hover {
		border-bottom: 1px solid var(--didi-green-hover);
		color: var(--didi-green-hover);
	}
	.link:hover .Icon {
		stroke: var(--didi-green-hover);
	}
	.link:active {
		border-bottom: 1px solid var(--didi-green-primary);
		color: var(--didi-green-primary);
	}
	.link:active .Icon {
		stroke: var(--didi-green-primary);
	}
}
@media screen and (min-width: 1280px) {
	.heroSection {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.heroContainer {
		padding-left: 162px;
		padding-right: 48px;
	}
	.heroWrapper {
		display: flex;
		align-items: center;
		gap: 135px;
		margin: 0 auto;
	}
	.title {
		font-family: var(--second-family);
		font-weight: 900;
		font-size: clamp(48px, calc((48 / 1280) * 100vw), 68px);
	}
	.subTitle {
		font-size: 22px;
	}
	.linkBtn,
	.link {
		font-size: 22px;
	}
}
@media screen and (min-width: 1440px) {
	.title {
		font-size: 68px;
	}
}
