@import "tailwindcss";
html {
	scroll-behavior: smooth;
}

:root {
	--font-family: "Inter", sans-serif;
	--second-family: "Playfair Display", sans-serif;

	--foundation-green-lighter: #f0f4e7;
	--foundation--green-light-: hover: #cdd5c0;
	--foundation--green-light-: active: #c3ccb3;
	--foundation--green-normal: #a3b18a;
	--foundation-green-normal-: hover: #838e6c;
	--foundation-green-normal-: active: #717b5f;
	--foundation-green-dark: #404832;
	--foundation-green-dark-hover: #363e29;
	--foundation--green-dark-active: #12130f;
	--didi-black: #231c00;
	--didi-browngrey: #4e4141;
	--didi-white: #fefefe;
	--didi-green-primary: #6c7a50;
	--didi-green-dark: #343d1e;
	--didi-green-light: #dfe2ce;
	--didi-green-hover: #535e3a;
	--didi-brown-bg: #f6f1e7;
	--didi-brown-light: #ede6d4;
	--didi-brown-basic: #7f735d;
	--didi-brown-light-ish: #d5c7ad;
	--didi-brown-dark-brown: #39251f;
	--error: #dc2626;
}

@theme inline {
	--default-font-family: var(--font-family);
	--color-background: var(--didi-brown-bg);
	--color-foreground: var(--didi-black);

	--font-primary: var(--font-family);
	--font-secondary: var(--second-family);

	--color-primary: var(--didi-black);
	--color-secondary: var(--didi-brown-dark-brown);
	--color-black: var(--didi-black);
	--color-white: var(--didi-white);

	--color-error: #cb0205;
}

.scrollbar-none::-webkit-scrollbar {
	display: none;
}
.scrollbar-none {
	-ms-overflow-style: none; /* IE 10+ */
	scrollbar-width: none; /* Firefox */
}
