.contactsSection {
	padding-top: 24px;
	padding-bottom: 44px;
}
.contactsContainer {
	padding-left: 16px;
	padding-right: 16px;
}
@media screen and (min-width: 768px) {
	.contactsSection {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.contactsContainer {
		padding-left: 162px;
		padding-right: 48px;
	}
}
@media screen and (min-width: 1280px) {
}
